{% extends "base.html" %}
{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}

    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm"></div>
        <div class="col-md-6 col-xs-12 col-sm-12">

            <!-- Basic layout-->
            <form action="{% url 'upload_rules' %}" class="form form-horizontal" method="POST">
                {% csrf_token %}
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">Upload R2RML Files</h5>
                    </div>

                    <div class="panel-body">
                        {% bootstrap_field form.name layout='horizontal' %}
                        {% bootstrap_field form.last_name layout='horizontal' %}
                        {% bootstrap_field form.organization layout='horizontal' %}
                        {% bootstrap_field form.file layout='horizontal' %}
                        {% bootstrap_field form.description layout='horizontal' %}

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                        </div>

                    </div>
                </div>
            </form>
            <!-- /basic layout -->

        </div>
        <div class="col-md-3 hidden-xs hidden-sm"></div>
    </div>

{% endblock content %}
{% block extra_script %}
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script type="text/javascript">
        $(".file-styled").uniform({
            fileButtonClass: 'action btn bg-grey-400'
        });
        $("#upload-rules").addClass("active");
    </script>
{% endblock extra_script %}
